@use './variables';
@use './typography';

header {
  height: 100vh;
  max-width: calc( 100% - variables.$pusher );
  margin-left: variables.$pusher + 100px;
  // position: relative;
  padding: 20% 30px 20% 0;
  // width: variables.$pusher;
  h1 {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid variables.$mainColor;
  }
  span {
    display: block;
  }
  nav {
    width: 100%;
    ul {
      display: flex;
      // width: 60%;
      justify-content: space-between;
    }
  }
}