@use './variables';
@use './typography';

//aside section is in the 'aside.scss' partial

section {
  max-width: calc( 100% - variables.$pusher );
  margin-left: variables.$pusher + 100px;
  min-height: 60vh;
  padding: 200px 0;
  padding-right: 30px;
  &:first-of-type {
    padding-top: 0;
  }
}

section.contactSection {
  padding: 20% 0;
}

section.techStackSection {
  .techList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
      margin-top: 30px;
      width: 120px;
      text-align: center;
      span { 
        display: block;
      }
    }
    i {
      font-size: 72px;
      color: variables.$darkColor;
    }
    img {
      height: 72px;
      width: 100%;
    }
  }
}

.projectsSection {
  h2 {
    margin-bottom: 30px;
  }
  .projectContainer{
    display: flex;
    margin: 0 0 200px;
    .textContainer {
      padding: 30px;
      h3 {
        margin-bottom: 30px;
      }
      p {
        margin: 0;
      }
    }
    a {
      display: block;
      margin-top: 30px;
    }
  }  
  img {
    max-width: variables.$pusher;
    // height: fit-content;
    height: auto;
  }
}