@use './variables';

body {
  font-family: variables.$bodyFont;
}

h1 {
  color: variables.$darkColor;
  font-family: variables.$headerFont;
  font-weight: 200;
  text-transform: uppercase;
  span {
    display: block;
  }
}