// Colours
$mainColor: #E88329;
$secondaryColor: #606c38;
$tertColor: #dda15e;
$lightColor: #fefae0;
$darkColor: #283618;
$black: #151C0D;

//Fonts
$bodyFont: 'Barlow Condensed', sans-serif;
// barlow avail at 200
$headerFont: 'Lato', sans-serif;
// lato avail at 400, 700 and 400 italic


// measurements
// This is the width of the header and padding of the main and footer that separates the header with the rest
$pusher: 350px;


